* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
}
.wrap {
  display: flex;
  width: 100%;
}
.image {
  display: flex;
  width: 55%;
}
.content {
  display: flex;
  justify-content: center;
  width: 45%;
}
.registration {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.icon {
  width: 50px;
  height: 50px;
  margin: 20px;
  margin-bottom: 30px;
  margin-left: 0;
}
.title {
  color: #000000;
  font-size: 64px;
  margin: 20px;
  margin-left: 0;
}
.titleSubhead {
  font-size: 31px;
  margin: 20px;
  margin-left: 0;
}
.registrationInputs {
  display: flex;
  flex-direction: column;
}
.navWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.navbar {
  text-align: center;
  color: bisque;
  height: 70px;
  margin: 0 60px;
  margin-top: 10px;
}
.navbar a {
  padding: 8px;
  color: #595d61;
  text-decoration: none;
  font-size: 13px;
}
