* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
}
.content {
  display: flex;
  justify-content: flex-start;
}
.registration {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}
.icon {
  width: 50px;
  height: 50px;
  margin: 20px;
  margin-bottom: 30px;
  margin-left: 0;
}
.title {
  color: #000000;
  font-size: 64px;
  margin: 20px;
  margin-left: 0;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titleSubhead {
  font-size: 31px;
  margin: 20px;
  margin-left: 0;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.registrationInputs {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 50px;
  height: 40px;
  width: 80%;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #e2e8eb;
}

.text1 {
  background-image: url("images/google.png");
  background-position: left;
  padding-left: 50px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.text1::placeholder {
  color: #474b4e;
}
.text2 {
  background-image: url("images/apple.png");
  background-position: left;
  padding-left: 50px;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: default;
}
::placeholder {
  color: #000000;
}
.text3 {
  text-align: center;
  cursor: default;
}

.rules {
  width: 90%;
  font-size: 13px;
  margin: 10px;
}
.rules a {
  color: #68c9f8;
  text-decoration: none;
}
.rules a:hover {
  text-decoration: underline;
}
.account {
  margin: 20px 0;
  font-size: 15px;
}
.account a {
  color: #68c9f8;
  text-decoration: none;
}
.image {
  display: flex;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.navWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.navbar {
  text-align: center;
  color: bisque;
  height: 70px;
  margin: 0 60px;
  margin-top: 10px;
}
.navbar a {
  padding: 8px;
  color: #595d61;
  text-decoration: none;
  font-size: 13px;
}
@media (max-width: 900px) {
  .container2 {
    display: none;
  }
}
@media (min-width: 900px) {
  .container {
    display: none;
  }
  .container2 {
    height: 100%;
  }
  .wrap2 {
    display: flex;
    width: 100%;
  }
  .image2 {
    display: flex;
    width: 55%;
  }
  .content2 {
    display: flex;
    justify-content: flex-start;
    width: 45%;
  }
  .registration2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
  }

  input {
    border-radius: 50px;
    height: 40px;
    width: 60%;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #e2e8eb;
  }
  .rules {
    width: 70%;
  }
}
